// body {
//   background: #ffffff;
//   height: 1280px;
  
// }
body {
    height: 100%;
    background: linear-gradient(0deg , #3a3361 55%, #ffffff 45%);
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // padding-left: 40px;
  // padding-right: 40px;
}
